body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(36, 37, 23, 0.6);
  font-family: 'Georgia', serif;
  text-shadow: 0px 0px 1px black;
}

div.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

div:not(.modal) .overlay {
  display: none;
}

div.modal .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  color: rgb(82, 182, 187);
  font-size: 1.5em;
  background-color: rgb(40, 37, 71);
  border-radius: 15px;
  padding: 10px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.winnerPic {
  width: 300px;
  height: 350px;
  margin: 0;
  padding: 0;
}

.loserPic {
  width: 450px;
}

.resetButton {
  background-color: #660099;
  color: white;
  font-family: "trebuchet ms", arial, sans-serif;
  border: 1px solid black;
  font-style: italic;
  width: 300px;
  font-size: 1.3em;
}

.healthBar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 500px;
}

.health {
  width: 50px;
  height: 30px;
  background-image: url('http://vignette2.wikia.nocookie.net/zelda/images/d/d1/Heart_%28Ocarina_of_Time%29.png/revision/latest?cb=20100115213958');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px 0;
}

.healthGod {
    width: 50px;
    height: 30px;
    background-image: url('http://vignette4.wikia.nocookie.net/zelda/images/1/1b/Heart_Container_%28Majora%27s_Mask%29.png/revision/latest?cb=20120406205109');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px 0;
}

.cardArray {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80vh;
}

.cardArray div {
  width: 18%;
  height: 23.5%;
  border-radius: 15px;
  margin: 3px;
  transition: background-color 500ms 0ms;
  background-color: rgba(14, 45, 85, 0.67);
}

.cardArray div:hover {
  transition: background-color 80ms 0ms;
  background-color: rgb(14, 45, 85);
}

.cardArray div.matched {
  transition: opacity 500ms 0ms;
  opacity: 0.4;
}

.cardArray div.a0, a0:hover {
  transition: background-color 500ms 0ms;
  background-color: rgb(39, 170, 111);
}

#a0:hover {
  transition: background-color 500ms 0ms;
  background-color: rgb(39, 170, 111);
}

.cardArray div.b1 {
  transition: background-color 500ms 0ms;
  background-color: rgb(167, 132, 17);
}

#b1:hover {
  transition: background-color 500ms 0ms;
  background-color: rgb(167, 132, 17);
}

.cardArray div.c2 {
  transition: background-color 500ms 0ms;
  background-color: rgb(235, 144, 135);
}

#c2:hover {
  transition: background-color 500ms 0ms;
  background-color: rgb(235, 144, 135);
}

.cardArray div.d3 {
  transition: background-color 500ms 0ms;
  background-color: rgb(82, 68, 113);
}

#d3:hover {
  transition: background-color 500ms 0ms;
  background-color: rgb(82, 68, 113);
}

.cardArray div.e4 {
  transition: background-color 500ms 0ms;
  background-color: rgba(42, 31, 242, 0.66);
}

#e4:hover {
  transition: background-color 500ms 0ms;
  background-color: rgba(42, 31, 242, 0.66);
}

.cardArray div.f5 {
  transition: background-color 500ms 0ms;
  background-color: rgb(215, 102, 52);
}

.cardArray div.g6 {
  transition: background-color 500ms 0ms;
  background-color: rgb(39, 206, 212);
}

.cardArray div.h7 {
  transition: background-color 500ms 0ms;
  background-color: rgb(194, 37, 164);
}

.cardArray div.i8 {
  transition: background-color 500ms 0ms;
  background-color: rgb(98, 224, 29);
}

.cardArray div.j9 {
  transition: background-color 500ms 0ms;
  background-color: rgba(24, 130, 159, 0.66);
}
